
<% if flash[:successo].present? %>
    <div class="alert alert-success msg-sucesso">
        <%= flash[:successo] %>
    </div>
<% end %>

<% if flash[:erro].present? %>
    <div class="alert alert-danger msg-erro">
        <%= flash[:erro] %>
    </div>
<% end %>

