<% if session[:successo].present? %>
    <div class="alert alert-success msg-sucesso">
        <%= session[:successo] %>
    </div>
<% end %>

<% if session[:erro].present? %>
    <div class="alert alert-danger msg-erro">
        <%= session[:erro] %>
    </div>
<% end %>
